body{
    background-color:lightsalmon;

    margin: 0;
}

h1{
    font-family: 'Lexend Peta', sans-serif;
    font-size: 75px;
    text-align: center;
    text-decoration: underline;
    color:wheat;
    margin: 0;
   
}

h2{
    font-family: 'Lexend Peta', sans-serif;
    font-size: 45px;
    text-align: center;
    color:wheat;
    margin: 0;
   
}



h3{
    font-family: 'Lexend Peta', sans-serif;
    font-size: 20px; 
    color:wheat;
    margin: 0;
   
}



h4{
    font-family: 'Lexend Peta', sans-serif;
    font-size: 50px;
    text-align: center;
    text-decoration: underline;
    color:wheat;
    margin: 0;
   
}

#copyR{

    font-family: 'Lexend Peta', sans-serif;
    font-size: 50px;
    text-decoration: underline;
    color: crimson;
   text-align: center;

}

#CopyR{
    min-width: 40%;
   float: left;

}


h7{
    font-family: 'Lexend Peta', sans-serif;
    font-size: 20px;
    text-align: center;
    

   
}


.header1{
    display: block;
    width: 100%;
    background-image: url("../Images/Business.jpg");
    background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 600px;
  
    
    
}


.content1{
    display: block;
    width: 33%;
    float: left;
    background-color: darksalmon;
    height: 1000px;
    text-align: center;
}

.content2{
    display: block;
    width: 33%;
    float: left;
    background-color: peru;
    height: 1000px; 
    text-align: center;
  
}

.content3{
    display: block;
    width: 33%;
    float: left;
    background-color: coral;
    height: 1000px;
    text-align: center;
}



.content5{
    display: block;
    width: 60%;
    float: left;
    background-color: coral;
    height: 10000px;
    text-align: center;
}

.testingPic{

        display: block;
        width: 20%;
        float: left;
        
        text-align: center;
        
    }


.infoBox{
    display: block;
    width: 50%;
    float: left;
    background-color: coral;
    height: 1000px;
    text-align: center;

}

.infoPic{
    display: block;
    width: 50%;
    float: left;
    background-color:chocolate;
    height: 1000px;
    text-align: center;

}


ul{
    list-style: none;
    background-color: burlywood;
    top:0;
    position: fixed;
    width: 100%;
    margin: 0;
}
ul li a{
    display:block;
    font-size: 30px;
    width: 50%;
    block-size: 0%;
    color: darkred;
    margin:0;
}

li a:hover{
    background-color: crimson;
    color: chartreuse;
}

ul li{
    float: left;
    width: 14%;
    text-align: center;
    text-decoration: none;
}



.box1{ background-color:cadetblue;
    font-family: 'Fredoka One', cursive;
    font-size: 20px;
    color: gold;
text-align: center}

.box2{ background-color:plum;
     font-family: 'Fredoka One', cursive;
    font-size: 20px;
text-align: center;
color: gold;
}


.box3{ background-color:gold;
    font-family: 'Fredoka One', cursive;
    font-size: 20px;
text-align: center}


.box4{ background-color:lightseagreen;
    font-family: 'Fredoka One', cursive;
    font-size: 20px;
    text-align: center;
    color: gold;
}


.box5{ background-color:greenyellow;
    font-family: 'Fredoka One', cursive;
    font-size: 20px;
    text-align: center;
    
}


#failPic{
    margin: auto;
    display: block;
}

#gdprPic{
    margin: auto;
    display: block;
}

#gdprText{
    color: midnightblue;
    font-size: 30px;
    font-family: 'Advent Pro', sans-serif;
    text-align: center;
}

#rightsHead{
    font: 40px;
    color: brown;
    font-family: 'Lalezar', cursive;

}

#rightsBody{
    font-family: 'Pontano Sans', sans-serif;
    font-size: 30px;
    color: darkmagenta;

}



#textHeading{
    color: maroon;
    font-size: 40px;
    font-family: 'Saira Stencil One', cursive;
    text-decoration: underline;
}


#CopyText{
    color: maroon;
    font-size: 40px;
    font-family: 'Saira Stencil One', cursive;
    float: left;
}



#DisHead{
    color: dodgerblue;
    font-size: 40px;
    

}

#DisPic{
    height: 600px;
    width: 100%
}